
$main_background_color:#191321;
// $main_background_color:#222222;
$text_color: #bdbdbd;
$code_color: #c6c6c6;
$link_color: #c6c6c6;
$bright_text_color:#FFF;
$dark_text_color:#000;
$heading01_color:#000;
$accent_color01:#973EFF;
$accent_color02:#61d3e1;
$gray: #9A9A9A;
$light_gray: #C8C8C8;
$header_newsletter_bg_color: #2E1C47;
$footer_bg_color: #120B1D;

$gray-100: #f8f8f8 !default;
$gray-200: #e9e9e9 !default;
$gray-300: #dedede !default;
$gray-400: #cedece !default;
$gray-500: #ababab !default;
$gray-600: #6c6c6c !default;
$gray-700: #494949 !default;
$gray-800: #343434 !default;
$gray-900: #212121 !default;
$gray2: #8b8b8b;
$gray3: #a5a5a5;

$purple: hsl(269, 97%, 61%) !default;
$darkPurple: hsl(266, 68%, 8%);
$mediumPurple1: hsl(266, 68%, 42%) !default;
$mediumPurple2: hsl(266, 68%, 16%) !default;
$mediumPurple3: hsl(266, 68%, 13%) !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$lightBlue: #37d2e1 !default;
$white: white !default;
$blue: #38d5e4;