_site/
_cdn/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.DS_Store
.asset_pipeline/
node_modules/
*.g.*
.DS_Store
*.br
*.gz
.env

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

*.nupkg

*.log
*.testlog
.vs/

artifacts/
/PostSharp.Documentation.Import.props
*.g.props
eng/tools
