---
title: Brief Updates
layout: min
---

<style>
    a {
        color: cyan;
    }
    .item {
        border: 1px solid #ccc;
        padding: 15px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #222; 
        transition: background-color 0.5s ease, border-width 0.5s ease, border-color 0.5s ease; 
    }
    .item.highlight {
        background-color: #444;
        border-width: 3px;
        border-color: hsl(269, 97%, 61%);
    }
    .item .title {
        margin: 10px 0 10px 0;
        font-weight: bold;
        font-size: 24px;
        color: white;
    }
    .item p {
        margin: 5px 0;
    }

    .item a {
        color: white;
    }

    .item > a {
        text-decoration: none;
        display: block;
        color: rgb(189, 189, 189);
    }

    .item .more {
        margin-top: 10px;
        font-weight: bold;
        text-align: right;
        color: white;
    }

    .item a::after {
        display: none;
    }
</style>


<main>
    <div class="container container-m min_height">

        <h1>Briefs</h1>

        <p>
            You can subscribe for Metalama's briefs with <a href="{{site.url}}/briefs.xml">RSS</a>.
        </p>

        <div id="shorts-container">

           {% assign all_briefs = site.posts | concat: site.data.briefs.briefs %}
            {% assign all_briefs = all_briefs | sort: "date" | reverse %}
            {% assign top_briefs = all_briefs | slice: 0, 20 %}

{% for brief in top_briefs %}
    {% assign brief_slug = brief.title | prepend: "-" | prepend: brief.date | slugify %}
<article class="item" id="{{brief_slug}}">
    {% if brief.url %}
    <a href="{{ brief.url | prepend: site.baseurl }}">
    {% endif %}
        <div class="date">
            {{ brief.date | date: "%m/%d/%Y" }} · 
            {% if brief.collection == "posts" %}Blog Post{% else %}Brief{% endif %}
        </div>
        <div class="title">{{ brief.title | escape }}</div>
        {% if brief.collection == "posts" %}
            {{ brief.excerpt | strip_html | escape }}
        {% else %}
            {{ brief.description | markdownify }}
        {% endif %}
        {% if brief.collection == "posts" %}
        <div class="more">Read Article</div>
        {% endif %}
        <div class="decor-1"></div>
        <div class="decor-2"></div>
        {% if brief.url %}
    </a>
        {% endif %}
</article>
{% endfor %}




        </div>

    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const highlightArticle = () => {
            // Remove highlight from all articles
            document.querySelectorAll('.item.highlight').forEach(item => {
                item.classList.remove('highlight');
            });

            // Get the current hash
            const hash = window.location.hash.substring(1);
            if (hash) {
                // Find the article with the matching ID and add the highlight class
                const article = document.getElementById(hash);
                if (article) {
                    article.classList.add('highlight');
                }
            }
        };

        // Highlight the article on page load
        highlightArticle();

        // Highlight the article when the hash changes
        window.addEventListener('hashchange', highlightArticle);
    });
</script>

