{% assign now = 'now' | date: "%Y%m%d%H%M" %}
<footer>
    <div class="container">
        <div class="items_wrapper">
            <div class="col_logo">
                <img src="/assets/images/metalama-logo.svg" width="200" alt="Metalama Home Page" />
            </div>
            <div class="footer_texts">
                <span>Metalama is a trade name of SharpCrafters s.r.o.</span>
            </div>
            <div class="improve-page">
                <a href="https://github.com/metalama/website/edit/main/{{ page.path }}" target="_blank">Improve this
                    page</a>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/main.js"></script>

</body>

</html>