{% assign now = 'now' | date: "%Y%m%d%H%M" %}
<footer>
    <div class="container">
        <div class="items_wrapper">
            <div class="col_logo">
                <img src="/assets/images/metalama-logo.svg" width="200" alt="Metalama Home Page" />
            </div>
            <section class="footer_texts">
                <span>Metalama is a trade name of SharpCrafters s.r.o.</span>
            </section>
        </div>
    </div>
</footer>

<script src="/assets/js/main.js?etag={{etag}}"></script>


</body>

</html>