{% assign all_items = site.posts | concat: site.data.briefs.briefs %}
{% assign all_items = all_items | sort: "date" | reverse %}
{% assign top_items = all_items | slice: 0, include.max_count %}

{% for item in top_items %}
<article class="item">
    <a href="{{ item.url | prepend: site.baseurl }}">
        <div class="date">
            {{ item.date | date: "%m/%d/%Y" }} · 
            {% if item.collection == "posts" %}Blog Post{% else %}Brief{% endif %}
        </div>
        <div class="title">{{ item.title | escape }}</div>
        {% if include.include_content %}
        <div class="content">
            {% if item.collection == "posts" %}
                {{ item.excerpt | strip_html | escape }}
            {% else %}
                {{ item.description | markdownify }}
            {% endif %}
        </div>
        {% if item.collection == "posts" %}
        <div class="more">Read Article</div>
        {% endif %}
        {% endif %}
        <div class="decor-1"></div>
        <div class="decor-2"></div>
    </a>
</article>
{% endfor %}

