<header class="metalama-website">
    <div class="wrapper-large">
        <a href="{{ site.url }}/" class="logo" title="Go To Home Page">
            <img src="{{ site.url }}/assets/images/metalama-logo.svg" width="200" alt="Metalama Logo" />
        </a>
        <nav>
        <div class="menu__body">
            <ul class="menu__list level1 left">
                {% assign page_url = page.url | remove: '.html' | split: '/' | join: '/' %}
                {% if page_url == "" %}
                {% assign page_url = "/" %}
                {% endif %}
                <!-- page_url ='{{page_url}}'-->
                {% assign entryId = 0 %}
                {% for item in site.data.navigation.nodes %}
                {% unless item.hidden %}
                    {% assign itemId = itemId | plus: 1 %}
                    {% assign isItemActive = false %}
                    {% if page_url == item.url %}
                        {% assign isItemActive = true %}
                    {% else %}
                        {% for entry in item.nodes %}
                        {% if page_url == entry.url %}
                            {% assign isItemActive = true %}
                        {% else %}
                            {% for subentry in entry.nodes %}
                                {% if page_url == subentry.url %}
                                {% assign isItemActive = true %}
                                {% else %}
                                {% for subsubentry in subentry.nodes %}
                                {% if page_url == subsubentry.url %}
                                {% assign isItemActive = true %}
                                {% else %}
                                {% for subsubsubentry in subsubentry.nodes %}
                                        {% if page_url == subsubsubentry.url %}
                                        {% assign isItemActive = true %}
                                        {% endif %}
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <li class="menu__item {% if item.drop_down_menu %}has-dropdownmenu{% endif %} {% unless item.url %}has-mobile-dropdownmenu{% endunless %}">
                        <a href="{% if item.url contains 'http://' or item.url contains 'https://' %}{{ item.url }}{% else %}{{ site.url }}{{ item.url | default: '#' }}{% endif %}"
                            {% unless item.drop_down_menu %}title="{{ item.description }}"{% endunless %}
                            {% if item.drop_down_menu %}data-submenu="dropdown{{ itemId }}"{% endif %}
                            class="{% if isItemActive %}active{% endif %}">
                        {% if item.premium %}
                            <i class="premium no-tooltip"></i>
                        {% endif %}
                        {{ item.title }}
                        </a>

                        {% if item.drop_down_menu == "List" %}
                        <div id="dropdown{{ itemId }}" class="dropdownmenu list" style="display:none">
                            <ul class="dropdown-wrapper">
                                {% for entry in item.nodes %}
                                <li>
                                    <a href="{% if entry.url contains 'http://' or entry.url contains 'https://' %}{{ entry.url }}{% else %}{{ site.url }}{{ entry.url }}{% endif %}">
                                        <div class="title {% if entry.extern %}extern{% endif %}">
                                        {{ entry.title }}
                                        {% if entry.premium %}
                                            <i class="premium no-tooltip"></i>
                                        {% endif %}
                                        </div>
                                        <div class="description">
                                        {{ entry.description }}
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% elsif item.drop_down_menu == "Columns" %}
                        <div id="dropdown{{ itemId }}" class="dropdownmenu columns" style="display:none">
                            <div class="dropdown-wrapper">
                                {% for column in item.nodes %}
                                {% unless column.hidden %}
                                    <div class="column">
                                        <div class="column-title">
                                        {% if column.url %}
                                            <a href="{% if column.url contains 'http://' or column.url contains 'https://' %}{{ column.url }}{% else %}{{ site.url }}{{ column.url }}{% endif %}">{{ column.title }}</a>
                                        {% else %}
                                            <span>{{ column.title }}</span>
                                        {% endif %}
                                        </div>
                                        <ul>
                                        {% for entry in column.nodes %}
                                            {% unless entry.hidden %}
                                                <li>
                                                <a href="{% if entry.url contains 'http://' or entry.url contains 'https://' %}{{ entry.url }}{% else %}{{ site.url }}{{ entry.url }}{% endif %}">
                                                    <div class="title {% if entry.extern %}extern{% endif %}">
                                                        {{ entry.title }}
                                                        {% if entry.premium %}
                                                        <i class="premium no-tooltip"></i>
                                                        {% endif %}
                                                    </div>
                                                    <div class="description">
                                                        {{ entry.description }}
                                                    </div>
                                                </a>
                                                </li>
                                            {% endunless %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                {% endunless %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>

        <ul class="level1 right" role="menu">
            <li role="menuitem" class="menuitem--github">
                <a href="https://www.github.com/metalama/Metalama"
                    data-submenu=""
                    class="btn--github"
                    title="Access the source code on GitHub.">
                <img src="{{ site.url }}/assets/images/icons/github.svg" alt="Open Source" />
                </a>
            </li>
            <li role="menuitem" class="menuitem--get">
                <a href="{{ site.url }}/get"
                    data-submenu=""
                    title="Add Metalama to your projects and install the IDE tooling."
                    class="btn--download">
                <img src="{{ site.url }}/assets/images/icons/download-white.svg" alt="Download" />
                </a>
            </li>
            <li role="menuitem">
                <a href="{{ site.url }}/search"
                    data-submenu=""
                    title="Search Metalama."
                    class="btn--download">
                <img src="{{ site.url }}/assets/images/icons/search-white.svg" alt="Download" />
                </a>
            </li>
        </ul>

        <button type="button" class="menu__icon icon-menu"><span></span></button>
        </nav>

    </div>
</header>
<div class="header-spacer" style="display: none;"></div>