main.download {

    @extend .min_height;
    @extend .bg-purple;

    h1 { text-align: center; }

    .container {
        @extend .desktop_box;
      }
    
    .section--intro {
        text-align: center;
    }

    .section--top {
        display: flex;
        flex-direction: row;
        gap: 40px;

        > * {
            flex: 1;
        }

    }

    .section--get-started {
        padding-top: 80px;
        .row {
            display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: stretch;
            margin-bottom: 40px;
            
            > * {
                flex: 1;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                i.icon {
                    margin-top: 40px;
                }

                code { 
                    color: black;
                }

                .list-grayTags-normal {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                .body {
                    margin-bottom: 40px;
                }

                .buttons {
                    align-items: center;
                    margin-top: auto;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    justify-content: center;
                }
            }
        }
    }
}