.post_page {
  margin: rem($page_space_from_top_mobile) $mobile_side_margins;
  @media (max-width: 1024px) {
    margin: 140px auto 0;
  }
  @media (max-width: 992px) {
    .share_buttons.desktop ul {
      flex-direction: unset !important;
    }
    .post_details_and_tag {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .post_share_n_tag {
      margin-top: 0;
    }
    .post_excerpt p {
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    .post_header {
      padding: 0 40px;
    }
  }
  @media (max-width: 560px) {
    .post_header figure img {
      width: 100%;
    }
    .post_details_and_tag {
      display: block;
      margin-bottom: 20px;
    }
  }
  h1 {
    margin-bottom: rem(18px);
    font-size: rem(16px);
    @media (max-width: 992px) {
      font-size: 28px;
    }

    @media (max-width: 560px) {
      font-size: 18px;
    }
  }

  h2 {
    font-size: 13px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 40px;
  }

  h3 {
    font-weight: $fw-semi-bold;
    font-family: $ff-texts;
    text-align: left;
  }

  img.thumbnailFloatLeft {
    width: 220px;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  img.thumbnailFloatRight {
    width: 220px;
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
  }

  img.largeThumbnailFloatRight {
    width: 330px;
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
  }

  p.buttons {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;

    a {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      width: fit-content;
      background-color: #973eff;
      color: white !important;
      padding: 10px;
    }
  }

  hr {
    clear: both;
  }


  // Fixes the anchor vertical position, so it does not get under the pinned banner.
  h2::before,
  h3::before,
  h4::before {
    content: "";
    display: block;
    height: 150px;
    margin: -150px 0 0;
  }

  .post_details {
    margin-bottom: rem(27px);
    font-size: rem(9px);
    font-family: $ff-texts;
    color: $light_gray;
    @media (max-width: 992px) {
      font-size: 1.45rem;
    }
    span {
      color: $accent_color01;
    }
  }

  .post_content {
    margin: rem(10px) 0 rem(80px);
    @media (max-width: 992px) {
      padding: 0 40px;
    }
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
    ul,
    ol {
      line-height: 20px;
      margin-bottom: 1rem;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
      margin-bottom: 20px;
    }
  }

  .post_footer_share_buttons {
    padding-bottom: rem(15px);
    border-bottom: 2px solid $light_gray;
    @media (max-width: 1240px) {
      margin-bottom: 30px;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        width: 45px;
        height: 45px;
        margin: 0 15px;
      }
    }
  }

  .post_comments {
    margin: rem(150px) 0 rem(80px);

    h3 {
      display: none;
    }
  }


    p.toc_header {
        color: #a3afbd !important;
        font-size: 13px !important;
        padding: 20px 0 0 0;

    }

  nav[data-toggle="toc"] {
    top: 120px;

    li {
      line-height: 1.2rem !important;
    }

    a,
    a:visited {
      color: rgba(78, 82, 87, 0.8) !important;
      padding: 20px 0 0 0;
    }

    a.active:visited,
    a.active:visited {
      color: rgba(78, 82, 87, 1) !important;
      font-weight: bold !important;
      margin-left: -20px;
    }
  }

  ul.nav {
    margin-bottom: 0 !important;
  }

  // ConvertKit

  .formkit-fields {
    flex-direction: column !important;
  }

  .convertKit_header {
    margin-top: 40px;
    line-height: normal !important;
  }

  .convertKit .guarantee,
  .convertKit .promise {
    color: #767676;
    font-size: 13px;
    line-height: normal;
  }

  .convertKit {
    padding-right: 20px;
  }

  .convertKit form > div {
    padding: 0 !important;
  }
}

/* small screens */
@media (max-width: 768px) {
  .left_sidebar {
    display: none;
  }
}

@media (min-width: 769px) {
  .post_content {
    display: flex;
  }

  .left_sidebar {
    width: 350px;
    flex-shrink: 0;
    position: sticky;
    top: 180px;
    height: calc(100vh - 180px);
    padding-right: 40px;
  }

  .toc_content {
    flex-grow: 1;
  }
}

@media screen and (min-width: rem($mobile_breakpoint)) {
  .post_page {
    p,
    td,
    th {
      font-size: 20px;
      line-height: 30px;
    }

    h2 {
      font-size: 26px;
      text-align: left;
      margin-bottom: 17px;
      margin-top: 60px;
    }

    h3 {
      font-size: 20px;

      font-weight: $fw-semi-bold;
      font-family: $ff-texts;
    }

    p + h3,
    img + h3,
    ol + h3,
    ul + h3 {
      margin-top: 40px;
    }

    max-width: $desktop_boxed_width;
    margin: $page_space_from_top_desktop auto 0;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 2fr 2fr 0.5fr 50px;
      gap: rem(30px, "desktop");
    }

    .post_header {
      //height: 380px;
      @supports (display: grid) {
        grid-column: 1/5;

        display: grid;
        grid-template-columns: 2fr 2fr 0.5fr 50px;
        //grid-template-rows:1fr 1fr repeat(1fr * 3) 1fr;
        grid-template-rows: 1fr 1fr 3fr;
        height: 480px;
        gap: rem(10px, "desktop") rem(55px, "desktop");
      }

      h1 {
        font-size: rem(38px, "desktop");
        line-height: rem(48px, "desktop");

        @supports (display: grid) {
          grid-column: 2 / 4;
          align-self: start;
          justify-self: start;
          margin: 0;
        }
      }

      figure {
        @supports (display: grid) {
          grid-column: 1/2;
          grid-row: 1/4;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .post_details_and_tag {
        grid-column: 2 / 4;
        display: flex;
        justify-content: flex-start;
      }

      .post_details {
        font-size: rem(18px, "desktop");
        //margin-top: rem(20px, "desktop");
        //                font-family: $ff-headings;
        margin-top: 0;
        margin-right: 60px;
        line-height: 30px;
        //                @supports (display: grid) {
        //                    grid-column: 2 / 3;
        //                    grid-row: 2/3;
        //                }
      }

      .post_share_n_tag {
        //grid-column: 2/3;
        //grid-row: 2/3;
        //justify-self: end;
        margin: 0;
        display: block;

        .post_category {
          margin-top: 0;
          padding: 0 11px;
          height: 30px;
          display: flex;

          a {
            font-size: rem(14px, "desktop");
            display: flex;
            flex-wrap: nowrap;
          }

          img {
            width: 30px;
            margin-right: 7px;
          }

          span {
            line-height: 30px;
          }
        }
      }

      .post_excerpt {
        p {
          margin: 0;
        }

        @supports (display: grid) {
          grid-column: 2 / 4;
          grid-row: 3 /4;
          align-self: center;
          font-size: rem(20px, "desktop");
          line-height: rem(30px, "desktop");
        }
      }
    }

    .post_content {
      max-width: 100%;
      margin-top: 40px;
      @media (max-width: 1240px) {
        padding: 0 40px;
      }

      ul,
      ol {
        font-size: rem(20px, "desktop");
        line-height: rem(30px, "desktop");
      }

      a {
        text-decoration: none;
      }

      a:visited {
        color: rgb(0, 0, 238);
      }

      @supports (display: grid) {
        grid-column: 1/4;
        grid-row: 2/3;
        justify-self: end;
      }

      td,
      th {
        padding: 5px;
        border: 2px solid #eeeeee;
        border-collapse: collapse;
      }

      th {
        background-color: #eeeeee;
      }

      table {
        margin-bottom: 20px;
      }
    }

    .post_footer_share_buttons {
      //margin: rem(40px, 'desktop');
      ul {
        justify-content: flex-end;
      }

      @supports (display: grid) {
        grid-column: 1/4;
        grid-row: 3/4;
        margin-left: 30%;
      }
    }

    .post_comments {
      margin: 0 0 rem(80px, "desktop");

      h3 {
        text-align: center;
      }

      @supports (display: grid) {
        grid-column: 1/4;
        grid-row: 4/5;
        margin-left: 30%;
      }
    }
  }
}

@media screen and (min-width: rem($mobile_breakpoint, "desktop")) and (max-width: rem($desktop_boxed_width, "desktop")) {
  .post_page {
    .post_header {
      padding: 0 rem($desktop_side_margins, "desktop") / 3;
    }
  }
}
@media (max-width: 767px) {
  .post_page .post_footer_share_buttons {
    border-bottom: unset !important;
  }
  .new_post_page .post_footer_share_buttons {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  }
  .new_post_page .post_footer_share_buttons ul li {
    width: 25px !important;
    height: 25px !important;
  }
  .new_post_page .post_footer_share_buttons ul li a img {
    width: 100%;
  }
  .post_page .post_footer_share_buttons {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  }
  .post_page .post_footer_share_buttons ul li {
    width: 25px !important;
    height: 25px !important;
  }
  .post_page .post_footer_share_buttons ul li a img {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .new_post_page .post_footer_share_buttons ul li a img {
    width: 100%;
  }
  .post_page .post_footer_share_buttons ul li a img {
    width: 100%;
  }
}
