html {
    font-size: $fs-base-mobile;
    scroll-behavior: smooth;
    @media screen and (min-width: rem($mobile_breakpoint)) {
        font-size: $fs-base-desktop;
    }
}
body {
    font-family: LatoLatinWeb;
    color: $text_color;
}

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 1.5rem;
    line-height: 3.7333333333rem;
    font-family: Monosten;
    font-weight: normal;

}

h3 {
    line-height: rem(20px);
    font-weight: $fw-normal;
}

h2 {
    text-align: center;
    font-weight: $fw-normal;
}
p {
    line-height: rem(20px);
}

figure {
    margin: 0;
}

img[src*="#unzoom150"] {
    border: lightgrey solid 1px;
    padding: 20px;
    zoom: 66.667%;
 }

 img[src*="#unzoom200"] {
    border: lightgrey solid 1px;
    padding: 20px;
    zoom: 50%;
 }

 img[src*="#unzoom300"] {
    border: lightgrey solid 1px;
    padding: 20px;
    zoom: 33.33%;
 }

 img[src*="#width75"] {
    border: lightgrey solid 1px;
    padding: 20px;
    width: 75%;
 }

 html {
    // Somehow subdomain.css sets a html border.
    border: none !important;
 }

 
.note, .warning, .important, .tip, .caution {
    border-radius: 3px;
    padding: 1em;
    margin-top:  20px;
    margin-bottom: 20px;
}

.note, .tip {
    background-color:    #01343d;
    color: white;

    a {
        color: white !important;
    }
}


    .note:before, .warning:before, .important:before, .caution:before, .tip:before {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;;
    }

    .note:before, .tip:before {
        content: "\1f6c8\a0\a0NOTE"
    }

    .tip:before {
        content: "\1f6c8\a0\a0TIP"
    }

.warning, .important, .caution {
    background-color: #6a4200;
}

    .warning:before {
        content: "\26a0\a0\a0WARNING"
    }

    .caution:before {
        content: "\26a0\a0\a0CAUTION"
    }

    .important:before {
        content: "\26a0\a0\a0IMPORTANT"
    }