footer {
  background-color: $footer_bg_color;
}

footer .items_wrapper {
  @extend .desktop_box;
  display: flex;
  flex-direction: row;
  gap: 40px;

  color: $text_color;
 
  .footer_texts {
    vertical-align: middle;
    align-items: center;
    display: flex;
  }

  .improve-page {
    vertical-align: middle;
    align-items: center;
    display: flex;
    margin-left: auto;

    a {
      color: $lightBlue;
      text-decoration: none;
    }

    a:after {
      content: "";

      display: inline-block;
      background-image: url("/assets/images/icons/github-lightblue.svg");
      background-size: contain;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}
