footer {
  background-color: $footer_bg_color;
}

footer .items_wrapper {
  @extend .desktop_box;
  display: flex;
  flex-direction: row;
  gap: 40px;

  color: $text_color;
 
  .footer_texts {
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
}
