header {
  background-color: #130722;
  width: 100%;
  z-index: 10000001;
  overflow: hidden;
  color: white;

  &.pinned {
    position: fixed;
    top: 0;
    left: 0;
  }

  .wrapper {
    @extend .desktop_box;

    display: flex;
    flex-direction: row;
    width: 100%;

  }


  nav {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-right: 80px;
  }

  a,
  a:visited,
  a:hover {
    color: #a0a0a0;
    text-decoration: none;

    &.active {
      color: white;
    }
  }


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }


  ul.level1 {
    display: flex;
    flex-wrap: wrap;

    >li {
      // We need some large padding to make it a good enough mouse click and hover target.
      padding: 20px;

      &:has(.btn) {
        padding: 0px;
        padding-top: 2px;
      }

      &.has-dropdownmenu {

        position: relative;

        >a:after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #a0a0a0;
          content: "";
          margin: 0 0 0 8px;
          position: absolute;
          text-align: right;
          top: 40%;
          transform: translateY(-50%);
          width: 0;
        }
      }

      .dropdownmenu {

        background-color: #130722;
        margin-top: 10px;
        z-index: 10000002;

        ul {
          display: grid;
          grid-auto-flow: column; /* fills down then adds new columns */
          grid-template-rows: repeat(6, auto); /* max 6 rows, auto-sized to content */
          grid-template-columns: repeat(auto-fit, 400px); 
          gap: 20px;
          width: max-content; 
          margin: 0;

          a {
            .title {
              font-weight: bold;
              color: white;
              margin-bottom: 10px;
            }
          }
        }



        &.columns {
          padding-top: 40px;
          padding-bottom: 40px;
          width: 100%;
          position: fixed;
          left: 0;
          

          .dropdown-wrapper {
            gap: 40px;
            display: flex;
            flex-direction: row;
            @extend .desktop_box;

            padding-left: 40px;
            padding-right: 40px;

            .column {
              flex: 1; // Ensure all columns have equal width
            }

          }

          .column-title {

            margin-bottom: 20px;

            a {
              font-family: Monosten;
              color: #6527a9 !important;
              font-weight: bold;
            }
          }

        }

        &.list {

          padding: 30px;
          position: fixed;

        }

      }
    }

  }

  ul.right>li {
    padding-left: 0;
    padding-right: 0;
  }


  .btn--github,
  .btn--download {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    img {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      margin-right: 5px;
      margin-top: -5px;
    }

    border: none;
    background: transparent;
    color: #fff;
    text-transform: none;

    &:hover {
      border: none !important;
    }

    a:hover {
      color: #fff !important;
    }
  }

}


section {
  overflow: hidden;
}



.header-spacer {
  // This must correspond to the height of the header. The header is fixed, and without this spacer, we would display the content under the header.
  height: $header_height;
}

@media (max-width: 1200px) {
  .header__mobile__header {
    height: 100px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    padding-right: 55px !important;
  }

  .header__mobile__content {
    margin-top: 40px !important;
  }

  .header__logo.blog,
  .header__logo.metalama {
    z-index: 99 !important;
  }
}