header.metalama-website {
	// background-color: #130722;
	width: 100%;
	z-index: 10000001;
	overflow: hidden;
	color: white;

	&__menu {
		position: relative;
		z-index: 5;
	}

	& .logo {
		position: relative;
		z-index: 5;
	}

	&.pinned {
		position: fixed;
		top: 0;
		left: 0;
	}

	.wrapper-large {
		max-width: 1695px;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	nav {
		margin-top: 13px;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: end;
		margin-right: 15px;
	}

	@media (min-width: 90em) {
		nav {
			-webkit-column-gap: 12.5rem;
			-moz-column-gap: 12.5rem;
			column-gap: 12.5rem;
		}
	}
	@media (max-width: 64em) {
		nav {
			-webkit-column-gap: 0.0000000625rem;
			-moz-column-gap: 0.0000000625rem;
			column-gap: 0.0000000625rem;
		}
	}
	@media (min-width: 64em) and (max-width: 90em) {
		nav {
			-webkit-column-gap: clamp(0.0000000625rem, -30.7692305529rem + 48.0769228365vw, 12.5rem);
			-moz-column-gap: clamp(0.0000000625rem, -30.7692305529rem + 48.0769228365vw, 12.5rem);
			column-gap: clamp(0.0000000625rem, -30.7692305529rem + 48.0769228365vw, 12.5rem);
		}
	}

	a,
	a:visited,
	a:hover {
		color: #a0a0a0;
		text-decoration: none;

		&.active {
			color: white;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	ul.level1 {
		position: relative;
		z-index: 5;
		display: flex;
		flex-wrap: wrap;

		> li {
			// We need some large padding to make it a good enough mouse click and hover target.
			padding: 20px;

			&:has(.btn) {
				padding: 0px;
				padding-top: 2px;
			}

			&.has-dropdownmenu {
				position: relative;
				> a:after {
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 4px solid #a0a0a0;
					content: "";
					margin: 0 0 0 8px;
					position: absolute;
					text-align: right;
					top: 50%;
					transform: translateY(-50%);
					width: 0;
				}
			}

			.dropdownmenu {
				background-color: rgba(10, 2, 22, 0.7);
				backdrop-filter: blur(25px);
				margin-top: 10px;
				z-index: 10000002;

				// Enable scrolling on small screens (typically tablets in landscape mode).
				max-height: calc(100vh - 60px);
				overflow-y: auto;

				ul {
					display: grid;
					grid-auto-flow: column; /* fills down then adds new columns */
					grid-template-rows: repeat(5, auto); /* max 5 rows, auto-sized to content */

					gap: 20px;
					margin: 0;

					a {
						.title {
							font-weight: bold;
							color: white;
							margin-bottom: 10px;
							font-family: Monosten;

							i.premium::before {
								 margin-right: 0 !important;
								 margin-left: 0 !important;
								}

						}
					}
				}

				
				@media (min-width: 1361px) {
					& ul {
						grid-template-columns: repeat(auto-fit, 350px);
					}
				}

				&.columns {
					position: fixed;
					left: 50%;
					transform: translateX(-50%);
					.dropdown-wrapper {
						gap: 40px;
						display: flex;
						flex-direction: row;

						.column {
							flex: 1; // Ensure all columns have equal width
						}
					}

					@media (max-width: 1360px) {
						& .dropdown-wrapper {
							gap: 40px;
						}
					}

					.column-title {
						padding-bottom: 15px;
						margin-bottom: 15px;
						border-bottom: 1px solid #fff;
						font-size: 22px;
						line-height: 77.27%; /* 17/22 */

						a,
						span {
							font-family: Monosten;
							color: #6527a9 !important;
							font-weight: bold;
						}
					}
				}

				&.list {
					padding: 30px;
					position: fixed;
				}
			}
		}
	}

	ul.right > li {
		padding-left: 0;
		padding-right: 0;
	}

	.btn--github,
	.btn--download {
		display: flex;
		flex-direction: row;
		margin-left: 20px;

		img {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			margin-right: 5px;
			margin-top: -5px;
		}

		border: none;
		background: transparent;
		color: #fff;
		text-transform: none;

		&:hover {
			border: none !important;
		}

		a:hover {
			color: #fff !important;
		}
	}
}

section {
	overflow: hidden;
}

.header-spacer {
	// This must correspond to the height of the header. The header is fixed, and without this spacer, we would display the content under the header.
	height: 85px;
}

@media (max-width: 1200px) {
	.header__mobile__header {
		height: 100px !important;
		display: flex !important;
		align-items: center !important;
		justify-content: flex-end !important;
		padding-right: 55px !important;
	}

	.header__mobile__content {
		margin-top: 40px !important;
	}

	.header__logo.blog,
	.header__logo.metalama {
		z-index: 99 !important;
	}
}

.breadcrumb {
	display: none;
}

@media (max-width: 410px) {
	.logo {
		padding-top: 7px;
	}
	.logo img {
		width: 160px;
	}
}
@media (max-width: 374px) {
	.logo {
		padding-top: 11px;
	}
	.logo img {
		width: 130px;
	}
}

.menu-open {
	overflow: hidden;
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: 991.98px) {
			background-color: rgba(0, 0, 0, 0.96);
			position: fixed;
			z-index: 2;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: 135px 15px 50px 15px;
			transition: left 0.3s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 85px;
				background-color: rgb(19, 7, 34);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 6;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		@media (max-width: 991.98px) {
			flex-direction: column;
		}
	}
	// .menu__item
	&__item {
		& a {
			position: relative;
			color: #fff !important;
		}
		@media (max-width: 991.98px) {
			font-size: 45px;
			text-align: center;
			a[data-submenu="dropdown1"]::after,
			a[data-submenu="dropdown2"]::after {
				display: none;
			}
			a[data-submenu="dropdown3"]::after,
			a[data-submenu="dropdown4"]::after {
				border-left: 10px solid transparent !important;
				border-right: 10px solid transparent !important;
				border-top: 10px solid #a0a0a0 !important;
				margin: 0 !important;
				left: -30px;
			}
		}
		@media (max-width: 767.98px) {
			font-size: 36px;
			a[data-submenu="dropdown3"]::after,
			a[data-submenu="dropdown4"]::after {
				border-left: 6px solid transparent !important;
				border-right: 6px solid transparent !important;
				border-top: 6px solid #a0a0a0 !important;
				left: -21px;
			}
		}
		@media (max-width: 479.98px) {
			font-size: 24px;
		}
	}
	// .menu__link
	&__link {
	}
}

@media (max-width: 991.98px) {
	.has-dropdownmenu.submenu-open > a {
		&::after {
			transform: translateY(-50%) rotate(180deg) !important;
		}
	}
	.dropdown-wrapper {
		padding-top: 25px !important;
	}
}

//Burger Icon
.icon-menu {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	all: unset;

	display: none;
	margin-top: 15px;
	margin-left: 15px;
	cursor: pointer;
	@media (max-width: 991.98px) {
		display: block;
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}

.menu__list > li .title {
	font-size: 18px;
	font-weight: 400 !important;
}
.dropdown-wrapper .description {
	font-size: 16px;
	line-height: 106.25%; /* 17/16 */
}

@media (max-width: 1360px) {
	#dropdown1,
	#dropdown2 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.menu__item {
		text-align: right;
	}

	#dropdown3,
	#dropdown4 {
		background-color: unset;
		position: static;
		// display: flex !important;
		justify-self: end;
		padding: 0;
		text-align: end;
		& .title {
			font-size: 24px;
			@media (max-width: 767.98px) {
				font-size: 20px;
			}
			@media (max-width: 479.98px) {
				font-size: 16px;
			}
		}
		& .description {
			display: none;
		}
	}
}

@media (min-width: 991.98px) {
	.column > ul > li,
	.dropdownmenu > ul > li {
		padding: 10px;
		border-radius: 8px;
		min-height: 100px;
		background-color: rgba(255, 255, 255, 0.2);
		transition: background-color 0.1s ease;

		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
	.dropdownmenu {
		padding: 40px;
		border-radius: 8px;
	}
	.dropdown-wrapper {
		padding: 0;
	}
}

/* Можно в main.css или в <style> */
@media (max-width: 991.98px) {
	body {
		--is-mobile: 1;
	}
}
@media (min-width: 992px) {
	body {
		--is-mobile: 0;
	}
}
