main.premium {
    .container {
        @extend .desktop_box;
      }    

      .section--intro {
        font-size: $font-size-lg;
      }

      .editions {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: stretch;
        margin-bottom: 40px;
        margin-top: 40px;
        
        > * {
            flex: 1 1 0; 
            padding: 20px;
            display: flex;
            flex-direction: column; // Ensure column layout
        }

        .price {
          text-align: center;
          font-weight: bold;
          font-size: $font-size-lg;
        }

        p {
          line-height: normal;
        }

        h2, h3, h4, h5, code {
          color: black;
        }

        h2{
          font-size: $font-size-h3;
        }

        ul {
          padding-left: 20px;
          li {
            position: relative;
            .info-icon {
                cursor: pointer;
                margin-left: 5px;
                font-size: 0.9em;
                color: #666;

            }
           
          }
        }

        ul, ul code {
          color: $gray-700;
        }

        .buttons {
          margin-top: auto; // Push buttons to the bottom
          padding-top: 40px;
          text-align: center;
        }
      }
      
}