i.premium {
  &::before {
    content: "✨";
  }
  font-style: normal;
  position: relative;

  &:not(.no-tooltip)::after {
    content: "Premium Feature";
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    bottom: 150%; /* Adjust position */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Prevents interfering with hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  }

  &:not(.no-tooltip):hover::after {
    opacity: 1;
    visibility: visible;
  }
}

i.supported {
  &::before {
    content: "🛡️";
  }
  font-style: normal;
  position: relative;

  &:not(.no-tooltip)::after {
    content: "Ready-to-Use & Supported";
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    bottom: 150%; /* Adjust position */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Prevents interfering with hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  }

  &:not(.no-tooltip):hover::after {
    opacity: 1;
    visibility: visible;
  }
}