.searchPage {

    @extend .min_height;
    @extend .bg-purple;

    h1 { text-align: center; }

    .container {
        @extend .desktop_box;
      }


    #searchbox {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: $font-size-h5;
        
        input {
          width: 100%;
          padding: 20px;
        }
      }
      .ais-Pagination-list {
      
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-bottom: 40px;
        list-style: none;
      
  
        a {
          font-size: $font-size-h4;
          color:white;
          text-decoration: none;
        }
  
        .selected a {
          color: $text_color;
        }
      }

      .hit-breadcrumb {
        color: $purple;
      }

      .hit-title {
        font-size: $font-size-h5;
      }

      .ais-Hits {

        ol {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0;

            li > div {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }

      }
  

}

.text-match {
  display: none;
}