// Tab groups
.tabGroup li {
  padding-bottom: 0 !important;
}

.tabGroup ul {
  margin-bottom: 0 !important;
}

.tabGroup section[role="tabpanel"] {
  padding: 0 !important;
}

.tabGroup {
  margin-bottom: 30px;
}

.tabGroup pre {
  margin: 0 !important;
}

.tabGroup code {
  ---overflow-x: visible !important;
}

.ui-tabs-panel pre {
  border: none;
}

.ui-state-active {
  background: #6666ff !important;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-widget-header a {
  font-size: 12pt;
}

code {
  color: #4c1a84 !important;
}

pre {
  // Reset settings from non-code tables.
  // Legacy HTML posts may have PRE blocks without any class.
  margin-bottom: 0 !important;
  color: white !important;
  font-size: 11pt !important;
  white-space: pre-wrap;


  pre.lineno {
    color: gray !important;
    padding-right: 10px !important;
  }

  table.rouge-table {
    margin-bottom: 0 !important;

    td,
    th {
      padding: 0 !important;
      border: none !important;
    }
  }

  span {
    font-weight: normal !important;
  }
}

pre.legacy {
  color: white !important;
  background-color: #1e1e1e;
  font-size: 11pt !important;
  white-space: pre-wrap;
  padding: 10px;
}

div.highlighter-rouge {
  margin-bottom: 20px;

  >div>pre {
    padding: 10px;
  }

  .highlight .lineno {
    display: none;
  }


  // From https://marauderxtreme.github.io/pygmentize-stylesheets/css/themes/vsc.css
  pre {
    line-height: 125%;
  }

  td.linenos .normal {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
  }

  span.linenos {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
  }

  td.linenos .special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
  }

  span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .highlight .hll {
    background-color: #264f78
  }

  .highlight {
    background: #1e1e1e;
  }

  .highlight .c {
    color: #6A9955
  }

  /* Comment */
  .highlight .err {
    color: #F44747
  }

  /* Error */
  .highlight .g {
    color: #D4D4D4
  }

  /* Generic */
  .highlight .k {
    color: #569CD6;
    font-weight: bold
  }

  /* Keyword */
  .highlight .n {
    color: #D4D4D4
  }

  /* Name */
  .highlight .o {
    color: #D4D4D4
  }

  /* Operator */
  .highlight .x {
    color: #D4D4D4
  }

  /* Other */
  .highlight .p {
    color: #D4D4D4;
    font-weight: bold
  }

  /* Punctuation */
  .highlight .ch {
    color: #6A9955
  }

  /* Comment.Hashbang */
  .highlight .cm {
    color: #6A9955
  }

  /* Comment.Multiline */
  .highlight .cp {
    color: #6A9955
  }

  /* Comment.Preproc */
  .highlight .cpf {
    color: #6A9955
  }

  /* Comment.PreprocFile */
  .highlight .c1 {
    color: #6A9955
  }

  /* Comment.Single */
  .highlight .cs {
    color: #6A9955
  }

  /* Comment.Special */
  .highlight .gd {
    color: #D4D4D4
  }

  /* Generic.Deleted */
  .highlight .ge {
    color: #D4D4D4;
    font-style: italic
  }

  /* Generic.Emph */
  .highlight .gr {
    color: #D4D4D4
  }

  /* Generic.Error */
  .highlight .gh {
    color: #D4D4D4;
    font-weight: bold
  }

  /* Generic.Heading */
  .highlight .gi {
    color: #D4D4D4
  }

  /* Generic.Inserted */
  .highlight .go {
    color: #D4D4D4
  }

  /* Generic.Output */
  .highlight .gp {
    color: #D4D4D4
  }

  /* Generic.Prompt */
  .highlight .gs {
    color: #D4D4D4;
    font-weight: bold
  }

  /* Generic.Strong */
  .highlight .gu {
    color: #D4D4D4;
    font-weight: bold
  }

  /* Generic.Subheading */
  .highlight .gt {
    color: #D4D4D4
  }

  /* Generic.Traceback */
  .highlight .kc {
    color: #569CD6;
    font-weight: bold
  }

  /* Keyword.Constant */
  .highlight .kd {
    color: #569CD6;
    font-weight: bold
  }

  /* Keyword.Declaration */
  .highlight .kn {
    color: #569CD6;
    font-weight: bold
  }

  /* Keyword.Namespace */
  .highlight .kp {
    color: #569CD6;
    font-weight: bold
  }

  /* Keyword.Pseudo */
  .highlight .kr {
    color: #569CD6;
    font-weight: bold
  }

  /* Keyword.Reserved */
  .highlight .kt {
    color: #569CD6;
    font-weight: bold
  }

  /* Keyword.Type */
  .highlight .m {
    color: #B5CEA8
  }

  /* Literal.Number */
  .highlight .s {
    color: #CE9178
  }

  /* Literal.String */
  .highlight .na {
    color: #D4D4D4
  }

  /* Name.Attribute */
  .highlight .nb {
    color: #D4D4D4
  }

  /* Name.Builtin */
  .highlight .n-Builtins {
    color: #4EC9B0
  }

  /* Name.Builtins */
  .highlight .nc {
    color: #DCDCAA
  }

  /* Name.Class */
  .highlight .no {
    color: #9fb4c3
  }

  /* Name.Constant */
  .highlight .nd {
    color: #DCDCAA
  }

  /* Name.Decorator */
  .highlight .ni {
    color: #D4D4D4
  }

  /* Name.Entity */
  .highlight .ne {
    color: #D4D4D4
  }

  /* Name.Exception */
  .highlight .nf {
    color: #DCDCAA
  }

  /* Name.Function */
  .highlight .nl {
    color: #D4D4D4
  }

  /* Name.Label */
  .highlight .nn {
    color: #D4D4D4
  }

  /* Name.Namespace */
  .highlight .nx {
    color: #D4D4D4
  }

  /* Name.Other */
  .highlight .py {
    color: #D4D4D4
  }

  /* Name.Property */
  .highlight .nt {
    color: #D4D4D4
  }

  /* Name.Tag */
  .highlight .nv {
    color: #9fb4c3
  }

  /* Name.Variable */
  .highlight .ow {
    color: #569CD6
  }

  /* Operator.Word */
  .highlight .pm {
    color: #D4D4D4;
    font-weight: bold
  }

  /* Punctuation.Marker */
  .highlight .mb {
    color: #B5CEA8
  }

  /* Literal.Number.Bin */
  .highlight .mf {
    color: #B5CEA8
  }

  /* Literal.Number.Float */
  .highlight .mh {
    color: #B5CEA8
  }

  /* Literal.Number.Hex */
  .highlight .mi {
    color: #B5CEA8
  }

  /* Literal.Number.Integer */
  .highlight .mo {
    color: #B5CEA8
  }

  /* Literal.Number.Oct */
  .highlight .sa {
    color: #CE9178
  }

  /* Literal.String.Affix */
  .highlight .sb {
    color: #CE9178
  }

  /* Literal.String.Backtick */
  .highlight .sc {
    color: #CE9178
  }

  /* Literal.String.Char */
  .highlight .dl {
    color: #CE9178
  }

  /* Literal.String.Delimiter */
  .highlight .sd {
    color: #CE9178
  }

  /* Literal.String.Doc */
  .highlight .s2 {
    color: #CE9178
  }

  /* Literal.String.Double */
  .highlight .se {
    color: #CE9178
  }

  /* Literal.String.Escape */
  .highlight .sh {
    color: #CE9178
  }

  /* Literal.String.Heredoc */
  .highlight .si {
    color: #CE9178
  }

  /* Literal.String.Interpol */
  .highlight .sx {
    color: #CE9178
  }

  /* Literal.String.Other */
  .highlight .sr {
    color: #CE9178
  }

  /* Literal.String.Regex */
  .highlight .s1 {
    color: #CE9178
  }

  /* Literal.String.Single */
  .highlight .ss {
    color: #CE9178
  }

  /* Literal.String.Symbol */
  .highlight .bp {
    color: #D4D4D4
  }

  /* Name.Builtin.Pseudo */
  .highlight .fm {
    color: #DCDCAA
  }

  /* Name.Function.Magic */
  .highlight .vc {
    color: #9fb4c3
  }

  /* Name.Variable.Class */
  .highlight .vg {
    color: #9fb4c3
  }

  /* Name.Variable.Global */
  .highlight .vi {
    color: #9fb4c3
  }

  /* Name.Variable.Instance */
  .highlight .vm {
    color: #9fb4c3
  }

  /* Name.Variable.Magic */
  .highlight .il {
    color: #B5CEA8
  }

  /* Literal.Number.Integer.Long */

}

div.highlighter-rouge.language-xml {
  .nt {
    color: #5b9ed4;
  }

}

div.highlighter-rouge.language-json {
  .nl {
    color: #5b9ed4;
  }

}

pre code {
  color: white !important;
  font-size: 11pt !important;
}

code.language-mermaid {
  display: block;
  margin-top: 40px;
  margin-bottom: 80px;
}

.tabGroup {

  pre {
    font-size: 95%;
    white-space: normal !important;
    margin-bottom: 30px !important;
    line-height: 20px;
  }

  pre {
    padding: 5px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background-color: transparent;
  }

  pre code,
  pre.program-output {
    //background-color: rgb(250 250 250);
    max-height: 600px;
    display: block;
    padding: 1em;
    overflow: auto;
  }

  pre code,
  pre.program-output {
    white-space: pre !important;
  }

}

// Links on the top of tab groups
div.sample-links {
  margin-top: 40px;
  text-align: right;
  margin-bottom: -7px;
}


div.sample-links a {
  color: green !important;
}

div.sample-links.tabbed {
  text-align: right;
  margin-bottom: 5px;
}


// C# syntax highlighting
.cs-comment,
.hljs-comment,
.highlight-comment {
  color: #0C8406;
}

.cs-excluded-code {}

.cs-keyword,
.hljs-built_in,
.hljs-keyword,
.highlight-keyword {
  color: blue;
}

.cs-keyword.cs-control {
  color: #8F08C4;
}

.cs-number,
.highlight-number {
  color: black;
}

.cs-operator {}

.cs-operator.cs-overloaded {}

.cs-preprocessor-keyword {}

.cs-preprocessor-text {}

.cs-string,
.hljs-string,
.highlight-literal {
  color: #A31515;
}

.cs-string.cs-verbatim {}

.cs-string.cs-escape-character {}

.cs-whitespace {}

.cs-text {}

.cs-reassigned-variable {}

.cs-punctuation {
  color: black;
}

.cs-class-name,
.cs-interface-name,
.cs-static-symbol,
.hljs-type,
.hljs-title {
  color: #2C91B0;
}

.cs-enum-member-name {}

.cs-constant-name {}

.cs-local-name,
.cs-parameter-name,
.hljs-variable {
  color: #1F37A0;
}

.cs-parameter-name {
  color: #1F37A0;
}

.cs-method-name,
.cs-extension-method-name,
.cs-identifier,
.hljs-function .hljs-title {
  color: #74531F;
}


.cs-property-name {}

.cs-namespace-name {
  color: black;
}

.cs-label-name {}

.cs-xml-doc-comment,
.hljs-doctag {
  color: #808080;
}

.cs-xml-literal {}

.cs-regex {}


.cr-CompileTime,
.cr-Conflict,
.cr-TemplateKeyword,
.cr-Dynamic,
.cr-CompileTimeVariable,
.cr-GeneratedCode {
  background-color: rgba(50, 50, 90, 0.1);
}

.cr-TemplateKeyword {
  color: rgb(250, 0, 250) !important;
  font-weight: bold;
}


.hljs {
  color: black;
}

.hljs-quote {
  color: green;
}

.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #00f;
}

.hljs-addition,
.hljs-attribute,
.hljs-literal,
.hljs-section,

.hljs-template-tag,
.hljs-template-variable,
{
color: #a31515;
}

.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #2b91af;
}

.hljs-doctag {
  color: grey;
}

.hljs-attr {
  color: red;
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.mermaid {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  border: 1px solid gray;
  padding: 40px;
}